.hidden {
  display: none !important;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full {
  width: 100%;
}

.column-half {
  width: 50%;
}

.column-fifth {
  width: 20%;
  padding: 0 10px;
  margin: 20px 0;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 100vw;
    max-height: 100vh;
  }

  .column-half {
    width: 100%;
  }
}
