header {
  background-color: #d9a030;
  color: white;
  font-family:
    "Rubik Mono One",
    sans-serif;
  padding: 0.5px;
  font-size: 10px;
}

body {
  background-color: #d9d9d9;
}

.center-align {
  justify-content: center;
}

.search-bar {
  padding-top: 20px;
  padding-bottom: 20px;
}

.search-input {
  font-size: 35px;
  border-radius: 20px;
  border-style: none;
  padding-left: 13px;
}

.search-button {
  background-color: white;
  font-size: 35px;
}

.search-button:hover {
  cursor: pointer;
  color: #d9a030;
}

.search-results {
  width: 100%;
}

.card {
  width: 100%;
}

.card:hover {
  cursor: pointer;
}

/* .blank-card {
  position: absolute;
  width: 60vh;
  height: 90vh;
} */

.card-text {
  text-align: center;
  border: solid 2px;
  padding: 10px;
  margin-bottom: 20px;
}

.card-prices {
  text-align: center;
  border: solid 2px;
}

.padding-top {
  padding-top: 20px;
}

.align-buttons {
  align-content: flex-end;
}

.fa-xmark {
  font-size: 100px;
  border-style: none;
}

.fa-xmark:hover {
  cursor: pointer;
  color: #d9a030;
}

button {
  background-color: #d9d9d9;
  border-style: none;
}

.space-evenly {
  justify-content: space-evenly;
}

.center-card {
  justify-content: center;
}

.fa-heart {
  font-size: 100px;
  border-style: none;
}

.fa-heart:hover {
  cursor: pointer;
  color: #d9a030;
}

.fa-heart:active {
  transform: translateY(1.5rem);
}
