header {
  background-color: #d9a030;
  color: white;
  font-family:
    "Rubik Mono One",
    sans-serif;
  padding: 0.5px;
  font-size: 10px;
}

body {
  background-color: #d9d9d9;
}

.center-align {
  justify-content: center;
}

.search-bar {
  padding-top: 20px;
}

.search-input {
  font-size: 30px;
  border-radius: 20px;
  border-style: none;
  padding-left: 13px;
}

.search-button {
  padding-right: 10px;
}

.card {
  width: 200%;
}

.center-text {
  text-align: center;
}
